name: 'Execução manual – Cypress'

on:
  workflow_dispatch:

jobs:

  e2e-tests:
  
    runs-on: ['ubuntu-latest']

    steps:
      - uses: actions/checkout@v4

      - name: Instalando Yarn
        run: npm install -g yarn

      - name: Instalando dependências
        run: yarn

      - name: Testes E2E
        run:  yarn cypress run --browser chrome

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: relatorio-de-testes
          path: ./cypress/reports
